<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
      <h3>DrinkPrime</h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <!--<img src="https://img.icons8.com/material-sharp/50/000000/us-dollar.png">-->
          <i class="material-icons">attach_money</i> <span class="position-absolute p-0">Sales</span></a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a [routerLink]="['/lead/view-leads']">New Leads</a>
          </li>
          <li>
            <a [routerLink]="['/lead/add-lead']">Create New Lead</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

